In [4]:
import pandas as pd

In [11]:
df = pd.read_json('http://172.24.0.1:8083/vendas/v1/6892/filial/115')

In [12]:
df

                                                     0
0    {"DATA_EMISSAO":"2010-01-01","CODIGO_FILIAL":"...
1    {"DATA_EMISSAO":"2010-01-03","CODIGO_FILIAL":"...
2    {"DATA_EMISSAO":"2010-01-06","CODIGO_FILIAL":"...
3    {"DATA_EMISSAO":"2010-01-07","CODIGO_FILIAL":"...
4    {"DATA_EMISSAO":"2010-01-10","CODIGO_FILIAL":"...
..                                                 ...
187  {"DATA_EMISSAO":"2013-11-05","CODIGO_FILIAL":"...
188  {"DATA_EMISSAO":"2013-11-10","CODIGO_FILIAL":"...
189  {"DATA_EMISSAO":"2013-12-06","CODIGO_FILIAL":"...
190  {"DATA_EMISSAO":"2013-12-10","CODIGO_FILIAL":"...
191  {"DATA_EMISSAO":"2013-12-25","CODIGO_FILIAL":"...

[192 rows x 1 columns]

In [ ]:
df = pd.DataFrame(df)

In [ ]:
df